
.card{
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    width: 200px;
    height: 300px;
    margin: 30px;
    box-shadow: 0px 0px 10px;
    border-radius: 12px;
    background-color: rgb(243, 242, 242);
    transition: 0.2s;
}

.add-friend{
    background-color: rgb(56, 142, 255);
    border-radius: 15px;
    color: white;
    border:none;
    padding: 9px;
    font-weight: bold;
    margin-bottom:0px;
    margin-top: 0px;
    margin-left: 6px
}

.mutual{
    color: rgba(0, 0, 0, 0.644);
    padding: 6px;
    margin-bottom: 0px;
    margin-top: 5px;
}

.add-friend:hover{
    cursor: pointer;
    background-color: rgb(98, 166, 255);
    transition: 0.2s;
}

.name{
    padding-left: 6px;
    font-weight:bold;
    margin-bottom: 0px;
    margin-top: 0px;
}

.dp{
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 0px;
    margin-top: 0px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.card:hover{
    transform: scale(1.15);
    
}